@model FieldPlatformWeb.ViewModels.Project.IndexProjectViewModel

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="row">
    @{
        this.ViewData["Title"] = "All Pages, page " + Model.PageNumber;
    }
    <form action="/Projects/Add" class="">
        <button type="submit" class="btn btn-primary text-uppercase ">Add Project</button>
    </form>
    <hr>
    <form action="/Clients/All" class="">
        <button type="submit" class="btn btn-success text-uppercase ">Add Client</button>
    </form>

</div>
<hr />
<form asp-action="All" method="get">

    <partial name="_ButtonSearch" />
</form>
<br />
Projects:  @Model.ProjectsCount 
<table class="table">
    <thead class="thead-dark">
        <tr>

            <th scope="col" class="text-center">Project Name</th>
            <th scope="col" class="text-center">Year</th>
            <th scope="col" class="text-center">Description</th>
            <th scope="col" class="text-center">Promoters</th>
            <th>&nbsp;</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Projects)
        {
            <tr>
                <td class="text-center">@item.Name</td>
                <td class="text-center">@item.Year</td>
                <td class="text-center">@item.Description</td>
                <td class="text-center row-cols-6">
                    <a href="/Projects/GetPromoters?Id=@item.Id">@item.PromotersCount</a>
                </td>
                <td style="width: 10%;">
                    <a href="/Projects/Remove?Id=@item.Id" class="table-link danger">
                        <span class="fa-stack">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa fa-trash-o fa-stack-1x fa-inverse" onclick="return confirm('Are you sure want do delete Project:@item.Name')"></i>
                        </span>
                    </a>

                </td>
            </tr>
        }
    </tbody>
</table>
<partial name="_PagingPartial" model="@Model" />