@model AspNetCoreTemplate.Web.ViewModels.Project.IndexProjectViewModel
<form action="/Projects/Add" class="">
    <button type="float-left submit-button">Add Project</button> <hr />
    
</form>
<form action="/Clients/All" class="">
    <button type="float-left submit-button">Clients</button> <hr />
</form>
<table class="table">
    <thead>
        <tr>
            <th scope="col"class="text-center">Id</th>
            <th scope="col"class="text-center">Project Name</th>
            <th scope="col"class="text-center">Year</th>
            <th scope="col"class="text-center">Description</th>
            <th scope="col" class="text-center">Promoters</th>
        
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Projects)
        {
        <tr>
            <th scope="row" class="text-center">@item.Id</th>
            <td class="text-center">@item.Name</td>
            <td class="text-center">@item.Year</td>
            <td class="text-center">@item.Description</td>
            <th class="text-center">
                <a href="/Projects/GetPromoters?Id=@item.Id">@item.PromotersCount</a>
            </th>
        </tr>
        }
 
    </tbody>
</table>