@model FieldPlatform.Web.ViewModels.Promoter.IndexViewModel
@{
    this.ViewData["Title"] = "All Promoters, page " + Model.PageNumber;
}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<link href="~/css/PromotersAll.css" rel="stylesheet" asp-append-version="true" />

<div id="PlaceHolderHere"></div>
<br />

<form asp-action="All" method="get">
    <partial name="_ButtonSearch" />
</form>
<br />
<form action="/Promoters/Add" class="text-center">
    <button type="submit" class="btn btn-primary text-uppercase ">Add Promoter</button>
</form>
<br />

@Model.Promoters.Count() <h11>Promoters</h11>
<div class="main-box clearfix">
    <div class="table-responsive">
        <table class="table user-list">
            <thead>
                <tr class="table-success">

                    <th class="text-center" style="width: 30%;"><b>Name/Image</b></th>
                    <th class="text-center" hidden><b>Id</b></th>
                    <th class="text-center"><b>Gender</b></th>
                    <th class="text-center"><b>City</b></th>
                    <th class="text-center"><b>Email</b></th>
                    <th class="text-center"><b>Rating</b></th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Promoters.OrderBy(x=>x.FirstName))
                {
                    <tr>
                        <td>
                            <img width="100" height="100" style="border-radius:10px" src="@item.ImageUrl"
                                 class="card-img-top img-fluid card-image">
                            <p class="text-center"><b> @item.FirstName @item.LastName</b></p>
                        </td>

                        <td hidden>
                            @item.Id
                        </td>
                        <td class="text-center">
                            <span class="label label-default">@item.Gender</span>
                        </td>
                        <td>
                            @item.City
                        </td>
                        <td class="text-center">
                            @item.Email
                        </td>

                        <td class="text-center" style="color: crimson">
                            <span class="label label-default">@item.VotesType</span>
                        </td>
                        <td style="width: 25%;">
                            <a href="/Promoters/Profiles/@item.Id" class="table-link">
                                <button asp-controller="Promoters" asp-action="Profiles" asp-route-id="@item.Id" class="btn btn-primary"><i class="fa fa-search-plus"></i></button>
                            </a>



                            <button type="button" class="btn btn-primary" onclick="EditPromoter(@item.Id)"><i class="fas fa-user-plus"></i></button>

                            <a asp-action="Edit" asp-controller="Promoters" asp-route-id="@item.Id">

                                <button class="btn btn-primary"><i class="fas fa-pencil-alt"></i></button>

                            </a>
                            <a asp-action="Remove" asp-route-id="@item.Id">
                                <span class="fa-stack">
                                    <i class ="fa fa-square fa-stack-2x" style="color: red"></i>
                                    <i class ="fas fa-trash fa-stack-1x fa-inverse" onclick="return confirm('Are you sure want do delete promoter:@item.FirstName @item.LastName')"></i>
                                </span>
                            </a>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="editPromoter">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" style="color: blue">Add Project/Group</h2>
            </div>
            <div class="modal-body" id="myModalBodyDiv">

            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>

<partial name="_PagingPartial" model="@Model" />

<script>
    var EditPromoter = function (id) {

        var url = "EditPromoter?id=" + id;
        $("#myModalBodyDiv").load(url,
            function () {
                $("#editPromoter").modal("show");
            });
    }
</script>

